*{
    cursor:pointer;
    color: blue;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #808080;
    margin : 300px auto;
}
label{
    font-size: 20px;
    font-weight: 500;
}